Registros por página: <br>
<ul class="pagination" ng-controller="plistrppController">
    <li class="active" ng-show="rpp == 10"><a class="rpp_link" id="rpp10a">10</a></li>
    <li ng-show="rpp != 10"><a class="rpp_link" id="rpp10b" ng-click="repaginate(10)">10</a></li>            
    <li class="active" ng-show="rpp == 50"><a class="rpp_link" id="rpp50a">50</a></li>
    <li ng-show="rpp != 50"><a class="rpp_link" id="rpp50b" ng-click="repaginate(50)">50</a></li>
    <li class="active" ng-show="rpp == 100"><a class="rpp_link" id="rpp100a">100</a></li>
    <li ng-show="rpp != 100"><a class="rpp_link" id="rpp100b" ng-click="repaginate(100)">100</a></li>
</ul>