<tr ng-controller="plistheaderController">     
    <th ng-repeat="field in fields" ng-show="field.visible" class="text-center">                                            
        <label>{{field.shortname}}</label><br/>
        <a ng-show="field.visible" ng-click="doorder(field.name, 'asc')"><i class="glyphicon glyphicon-arrow-up"></i></a>
        <a ng-show="field.visible" ng-click="doorder(field.name, 'desc')"><i class="glyphicon glyphicon-arrow-down"></i></a>
    </th>
    <th  class="text-center">Acciones</th>
</tr>
