/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-abr-2014, 13:36:56
    Author     : raznara
*/


body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 12px;
}
@media (min-width: 1200px){
    .container {
        width: 100%;
    }
}

.container .jumbotron {
    border-radius: 0px;
}

.jumbotron {

    background-color: #f0a30a ;
}

.panel-heading {
    border-radius: 0px;
}

table{

}
th{
    min-width: 30px;
    color: whitesmoke;
    background-color: #9a1616;
}
.datepicker th{
    background-color: white;
    color: black;
}
#indexContenido .form-control-feedback {
    top: 0px;
    right: -15px;
}

.panel-heading {
    padding: 1px 10px;
}
.list-group-item {
    padding: 2px 15px;
}



.panel-body {
    padding: 5px 15px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.pagination{
    margin: 5px 0;
}
.form-control{
    border-radius: 0;

}
.btn{
    border-radius: 0;
}


/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
padding-right: 10px;
padding-left: 10px;
}*/

.panel-default>.panel-heading {
    background-color:#60a917;
    color:whitesmoke;
    font-size: 15px;
}

.navbar-inverse {
    background-color: #647687; 

}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    font-size: 15px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: yellow;
    font-size: 15px;
}

.navbar-inverse .navbar-brand {
    color:whitesmoke;
}
.navbar-inverse .navbar-brand:hover {
    color:yellow;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #333333;
}