/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-abr-2014, 13:36:56
    Author     : raznara
*/


body {
    padding-top: 60px;
    padding-bottom: 40px;
}
@media (min-width: 1200px){
    .container {
        width: 100%;
    }
}

table{
    font-size: 10px;
}
th{
    min-width: 30px;
    color: whitesmoke;
    background-color: black;
}
.datepicker th{
    background-color: white;
    color: black;
}
#indexContenido .form-control-feedback {
    top: 0px;
    right: -15px;
}