/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-dic-2014, 18:09:56
    Author     : sergio jose estevez vilches
*/

div.wrapper{
    width: 30%;
    padding-bottom: 0%;
    float: left;
    margin: 10px;
    position: relative;
}

#cuadro{ 
    padding:10px; 
    width: 100%;
    max-height: 100%;
    float:left;
}


.top{
    background: #428bca;
    height: 20px;
    border: 2px solid black;
}

.imageinfo{
    border: 2px solid black;
    border-top: 0px;
    background: white
}

.precio{
    background: #428bca;
    color: white;
    font-size: 150%;
    padding: 1%;
    width: 40%;
    text-align: center;
    top: 61%;
    position: absolute;
    left: 10%;
    border: 2px solid black;
}
.desc{
    background: #7AA7D3;
    font-size: 150%;
    min-height: 70px;
    padding: 5%;
    padding-top: 25px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    color: white;
}

#cuadro a.btn.btn-primary{
    width: 100%; 
    border: 2px solid black;
}


@media screen and (max-width: 1200px) {
    div.wrapper{
        width: 40%; 
        margin-left: 20px;
    }
    .precio{
        top:62%
    }
}

@media screen and (max-width: 990px) {
    div.wrapper{
        width: 44%; 
    }
    
    .precio{
        top:62%
    }
}

